<html>
<body>

<section id="footer">
    <div class="flex-wrapper-footer">
        <h8>Volg Buurtcampus Oost nu op:</h8>

        <div class="flex-container-footer">



        </div>

    </div>

</section>

</body>
</html>

