<%- include('./partials/head') %>
<main>
<!-- Intro Contact Container -->
    <section class="intro-contact-contain" id="can-we-help">
        <h2>Kunnen we je helpen?</h2>
        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.5 6.90193C18.5 8.05663 18.5 10.9434 16.5 12.0981L5.25 18.5933C3.25 19.748 0.750001 18.3046 0.750001 15.9952L0.750002 3.00481C0.750002 0.695408 3.25 -0.747967 5.25 0.406733L16.5 6.90193Z" fill="#F26F21"/>
        </svg>
        <p>Heeft u <b>vragen</b> of opmerkingen? U kunt ons bereiken op kantoortijden via het telefoonnummer of laat een bericht achter in het onderstaande contactformulier.</p> 
        <img src="assets/woman-holding-plant-bg.png">
    </section>

<!-- Contact Form Container -->
    <section class="contact-us-contain" id="contact-us">
        <h3>Contcac(t)us</h3>
        <p>Wil jij met andere organisaties, buurtbewoners en studenten samenwerken aan de stedelijke uitdagingen van Amsterdam Oost? Stuur een e-mail naar <a href="mailto:hello@buurtcampusoost.nl">hello@buurtcampusoost.nl</a></p> 
        <h4>Stel je vraag</h4>
        <form class="contact-form">
            <label for="text">Naam</label>
            <input type="text" placeholder="Je volledige naam" name="name" required>  
    
            <label for="email">Email</label>
            <input type="text" placeholder="Je e-mailadres" name="email" required>

            <label for="text">Jouw Bericht</label>
            <input type="text" placeholder="Laat hier je bericht achter..." name="text" required>

            <button id="send-button" type= "submit" value="default">Verzenden</button>
        </form>
    </section>
<!-- Neem een kijkje Container -->
<section class="location-plantswap-contain">
    <h3>Neem een kijkje!</h3>
    <p>"Lorem ipsum . Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <!-- GOOGLE MAPS LOCATIE -->
</section>
</main>
<%- include('./partials/foot') %>