<%- include('./partials/head') %>
<h2 class="event-header">Evenementen</h2>
<div class="event-container">
  <!-- checked kan je alleen toevoegen aan type radio en type checkbox -->
  <!-- input type kan niet gestyled worden daarom staat er een span achter -->
  <div class="buttons">
    <input type="radio" name="slider" id="item-1" checked /><span></span>

    <input type="radio" name="slider" id="item-2" /><span></span>

    <input type="radio" name="slider" id="item-3" /><span></span>
  </div>

  <div class="cards">
    <label class="card" for="item-1" id="event-1">
      <img
        class="card-img"
        src="https://images.unsplash.com/photo-1485546784815-e380f3297414?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        alt="workshop"
      />
    </label>

    <label class="card" for="item-2" id="event-2">
      <img
        class="card-img"
        src="https://images.unsplash.com/photo-1417037129170-06a2750eaa47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="workshop"
      />
    </label>

    <label class="card" for="item-3" id="event-3">
      <img
        class="card-img"
        src="https://images.unsplash.com/photo-1606048005590-ac109542b311?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGxhbnQlMjB3b3Jrc2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        alt="workshop"
      />
    </label>
  </div>
</div>
<!-- start mobile slideshow -->
<div class="slider">
  <div class="slides">
    <div id="slide-1">
      <img
        src="https://images.unsplash.com/photo-1606048005590-ac109542b311?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGxhbnQlMjB3b3Jrc2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
    </div>
    <div id="slide-2">
      <img
        src="https://images.unsplash.com/photo-1606048005590-ac109542b311?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGxhbnQlMjB3b3Jrc2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
    </div>
    <div id="slide-3">
      <img
        src="https://images.unsplash.com/photo-1606048005590-ac109542b311?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGxhbnQlMjB3b3Jrc2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
    </div>
    <div id="slide-4">
      <img
        src="https://images.unsplash.com/photo-1606048005590-ac109542b311?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGxhbnQlMjB3b3Jrc2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
    </div>
    <div id="slide-5">
      <img
        src="https://images.unsplash.com/photo-1606048005590-ac109542b311?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGxhbnQlMjB3b3Jrc2hvcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
    </div>
  </div>
  <a href="#slide-1">1</a>
  <a href="#slide-2">2</a>
  <a href="#slide-3">3</a>
  <a href="#slide-4">4</a>
  <a href="#slide-5">5</a>
</div>
<!-- workshops -->
<h2 class="workshop-header">Workshops</h2>
<h4 class="event-title">Naam workshop</h4>
<section class="event-page">
  <div class="event">
    <img
      class="event-img"
      src="https://images.unsplash.com/photo-1417037129170-06a2750eaa47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
      alt=""
    />
    <p class="event-info">Hier komt aanvullende informatie over de workshop</p>
  </div>

  <div class="event">
    <h4 class="event-title">Naam workshop</h4>
    <img
      class="event-img"
      src="https://images.unsplash.com/photo-1417037129170-06a2750eaa47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
      alt=""
    />
    <p class="event-info">Hier komt aanvullende informatie over de workshop</p>
  </div>
  <div class="event">
    <h4 class="event-title">Naam workshop</h4>
    <img
      class="event-img"
      src="https://images.unsplash.com/photo-1417037129170-06a2750eaa47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
      alt=""
    />
    <p class="event-info">Hier komt aanvullende informatie over de workshop</p>
  </div>
  <div class="event">
    <h4 class="event-title">Naam workshop</h4>
    <img
      class="event-img"
      src="https://images.unsplash.com/photo-1417037129170-06a2750eaa47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
      alt=""
    />
    <p class="event-info">Hier komt aanvullende informatie over de workshop</p>
  </div>
</section>
<%- include('./partials/foot') %>
