* {
    box-sizing: border-box;
}

:root {
    --primary: #4E7141;
    --secondary: #F26F21;
    --tertiary: #F6F7F9;
    --p-color: #6A6A6A;
    --background-color: #F6F7F9;

    /*FONT SIZES*/
    --p-fontsize: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    line-height: 1.4;
    font-weight: 100;
    color: var(--p-color);
}

h1 {
    font-family: 'Murecho', sans-serif;
    color: var(--primary);
    font-size: 2.2rem;
    line-height: 2.2rem;
}

h2 {
    font-family: 'Murecho', sans-serif;
    color: var(--primary);
    font-size: 2.2rem;
    line-height: 2.2rem;
}

h3 {
    font-family: 'Murecho', sans-serif;
    color: var(--primary);
    font-size: 1.9rem;
    line-height: 1.9rem;
}

h4 {
    color: var(--p-color);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.3rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 900;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
}

/* -------------------------- NAV BAR --------------------------  */
nav {
    background-color: var(--background-color);
}

nav img {
    width: 8rem;
    margin-top: 2em;
    margin-left: 3rem;
}

/* SECOND CIRCLE*/
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #FFB07C, #F26F21);
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px);*/
    clip-path: circle(0px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

#active:checked ~ .wrapper {
    clip-path: circle(75%);
}

/* FIRST CIRCLE */
.menu-btn {
    position: absolute;
    z-index: 2;
    right: 35px;
    /* left: 20px; */
    top: 45px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 19px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #FFB07C, #F26F21);
    outline: solid 2px white;
    transition: all 0.3s ease-in-out;
}

.wrapper ul {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 15px 0;
}

.wrapper ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

input[type="checkbox"] {
    display: none;
}

/* --------------------------  HOME-PAGE --------------------------  */
.intro-contain {
    padding: 3rem 10rem 9rem 3rem;
    background-image: url("/assets/bg-homepage.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--background-color);
}

.intro-contain svg {
    position: absolute;
    width: 0.8rem;
    left: 1rem;
}

.intro-contain h5 {
    max-width: 15rem;
}

.intro-contain p {
    padding-bottom: 1rem;
}

.intro-contain a {
    background-color: var(--primary);
    color: white;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border-radius: 25px;
    border: 2px solid var(--primary);
    text-decoration: none;
}

.intro-contain a:hover {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
    transition: 0.5s;
}

.new-plants-contain {
    padding-bottom: 5rem;
}

.new-plants-contain h3 {
    padding: 3rem;
    text-align: center;
}

.new-plants-contain a {
    display: flex;
    justify-content: center;
    max-width: 10rem;
    margin: 0 auto;
    background-color: var(--secondary);
    color: white;
    padding: 0.3rem 0 0.3rem 0;
    border-radius: 25px;
    border: 2px solid var(--secondary);
    text-decoration: none;
}

.new-plants-contain a:hover {
    background-color: white;
    color: var(--secondary);
    border: 2px solid var(--secondary);
    transition: 0.5s;
}

.flex-wrapper-cards-stek {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-wrapper-stekjes-stek img {
    width: 15rem;
    height: 18rem;
    border-radius: 5px;
    margin-bottom: 3rem;
}

.flex-wrapper-stekjes-stek p {
    margin-top: -2rem;
    margin-bottom: 4rem;
    text-align: center;
    font-weight: bold;
}

.about-contain {
    padding: 3rem;
    background-color: var(--background-color);
}

.about-contain h3 {
    text-align: center;
}

.about-contain p {
    text-align: center;
}

.about-contain img {
    width: 100%;
}

/* -------------------------- STEKJES PAGE --------------------------  */
.body-stekjes {
    background-color: var(--background-color);
}

.main-stekjes-ejs {
    background-image: url("/assets/swap-je-stek-jongen.png");
    background-repeat: no-repeat;
    background-size: 170%;
}

/*TABLET*/
@media (min-width: 768px) and (max-width: 1024px) {
    .main-stekjes-ejs {
        background-size: 100%;
        background-position-x: 130px;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {
    .main-stekjes-ejs {
        background-size: 65%;
        background-position-x: 800px;
    }
}

/*SECTION 1 INTRO STEKJES */
#intro-swap-stek {
    height: 400px;
    margin-top: 7rem;
}

#intro-swap-stek h1 {
    margin-left: 3rem;
    width: 200px;
}

#intro-swap-stek svg {
    position: absolute;
    width: 0.8rem;
    left: 1rem;
}

#intro-swap-stek p {
    margin-top: 1rem;
    margin-left: 3rem;
    width: 200px;
    font-size: var(--p-fontsize);
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    #intro-swap-stek {
        height: 500px;
    }

    #intro-swap-stek h1 {
        margin-left: 5rem;
        width: 250px;
    }

    #intro-swap-stek svg {
        top: 22rem;
        left: 3rem;
    }

    #intro-swap-stek p {
        margin-left: 5rem;
        width: 18rem;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {

    #intro-swap-stek {
        height: 650px;
    }

    #intro-swap-stek h1 {
        margin-left: 12rem;
        width: 500px;
        line-height: 5.5rem;
    }

    #intro-swap-stek svg {
        top: 28.2rem;
        left: 9.7rem;
    }

    #intro-swap-stek p {
        margin-left: 12rem;
        width: 400px;
        font-size: 1.6rem;
    }
}

/* SECTION 2 BESCHIKBARE STEKJES */
#available-stekjes {
    background-color: white;
    padding-top: 7rem;
}

#available-stekjes h2 {
    margin-left: 3rem;
    width: 200px;
}

.intro-p-available-stekjes {
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
}

.flex-wrapper-cards-stek-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.flex-wrapper-stekjes-stek-page img {
    width: 15rem;
    height: 18rem;
    border-radius: 5px;
}

.flex-wrapper-stekjes-stek-page h6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur-container p {
    font-size: var(--p-fontsize);
    text-align: center;
    margin-bottom: 3rem;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {

    #available-stekjes h2 {
        margin-left: 5rem;
        width: 25rem;
    }

    #available-stekjes p {
        margin-left: 5rem;
        width: 35rem;
    }

    .flex-wrapper-cards-stek-page {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        justify-content: space-between;
        padding-left: 5rem;
        padding-bottom: 5rem;
    }

    .flex-wrapper-stekjes-stek-page {
        display: flex;
        flex-direction: column;
        padding-right: 3rem;
    }

    .flex-wrapper-stekjes-stek-page h6 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    #available-stekjes h2 {
        margin-left: 13rem;
        width: 25rem;
    }

    #available-stekjes p {
        margin-left: 13rem;
        width: 950px;
    }

    .flex-wrapper-stekjes-stek-page:hover img{
        filter: blur(1px) brightness(0.5);
        transition: opacity 0.3s ease-in-out;
    }

    .flex-wrapper-stekjes-stek-page:hover p {
        opacity: 1;
    }
}

/* -------------------------- CONTACT PAGE --------------------------  */


.intro-contact-contain {
    padding: 3rem 3rem 0rem 3rem;
    background-color: var(--background-color);
}

.intro-contact-contain svg {
    position: absolute;
    left: 1rem;
}

.intro-contact-contain img {
    width: 80%;
}

.contact-us-contain {
    padding: 3rem;
    text-align: center;
}

.contact-us-contain a {
    color: var(--p-color);
    font-weight: bold;
}


.contact-us-contain h4 {
    padding-top: 2rem;
}

.contact-form {

    display: flex;
    justify-content: center;
    flex-direction: column;
}


.contact-form label {
    padding: 1rem;
    color: var(--primary);
    font-weight: bold;
}

.contact-form input {
    border-radius: 25px;
    padding: 0.5rem;
    border: 2px solid var(--primary);
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
    line-height: 1.4;
    font-weight: 100;
}

.contact-form input:last-of-type {
    padding: 1rem 8rem 8rem 1rem;
    margin-bottom: 2rem;
}

#send-button {
    display: flex;
    justify-content: center;
    max-width: 10rem;
    margin: 0 auto;
    background-color: var(--secondary);
    color: white;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border-radius: 25px;
    border: 2px solid var(--secondary);
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 100;
    cursor: pointer;
}

#send-button:hover {
    background-color: white;
    color: var(--secondary);
    border: 2px solid var(--secondary);
    transition: 0.5s;
}

.location-plantswap-contain {
    padding: 3rem;
    text-align: center;
    background-color: var(--background-color);
}

.google-location-iframe {
    width: 100%;
    margin-top: 2rem;
    border-radius: 15px;
    box-shadow: 5px 3px 3px grey;
}


/* -------------------------- BREAKPOINTS --------------------------  */

@media (min-width: 40rem) {

    nav img {
        margin-left: 5rem;
    }

    h1 {
        font-size: 3.2rem;
        line-height: 3.2rem;
    }

    h2 {
        font-size: 3.2rem;
        line-height: 3.2rem;
    }

    h3 {
        font-size: 3rem;
        line-height: 3rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    /* HOME PAGE tablet*/
    .intro-contain {
        padding: 5rem 5rem 15rem 5rem;
        background-size: 100%;
    }

    .intro-contain svg {
        left: 9%;
        top: 41%;
    }

    .intro-contain p {
        max-width: 15rem;
    }

    .location-plantswap-contain {
        padding: 5rem;
    }

    .google-location-iframe {
        width: 80%;
        margin-top: 3rem;
    }

    /* CONTACT PAGE tablet */
    .intro-contact-contain {
        padding: 5rem 5rem 0rem 5rem;
        background-size: 100%;
    }

    .intro-contact-contain svg {
        left: 9%;
        top: 41%;
    }

    .intro-contact-contain p {
        max-width: 15rem;
    }

    .intro-contact-contain img {
        margin-left: 7rem;
    }

    .contact-us-contain {
        padding: 5rem;
    }

}

@media (min-width: 65rem) {

    nav img {
        margin-left: 8rem;
    }

    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    h2 {
        font-size: 4rem;
        line-height: 4rem;
    }

    h3 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    /* HOME PAGE groot tablet*/
    .intro-contain {
        padding: 5rem 8rem 20rem 8rem;
        background-image: url("/assets/bg-homepage-desktop.png");
    }

    .intro-contain h1 {
        max-width: 5rem;
    }

    .intro-contain svg {
        left: 9%;
        top: 46.5%;
    }

    .intro-contain h5 {
        max-width: 25rem;
    }

    .intro-contain p {
        max-width: 30rem;
    }

    .about-contain {
        padding: 8rem
    }

    .about-contain img {
        padding: 0rem 10rem 0rem 10rem;
    }

    /* CONTACT PAGE groot tablet */
    .intro-contact-contain {
        padding: 5rem 8rem 0rem 8rem;
        background-size: 100%;
    }

    .intro-contact-contain h2 {
        max-width: 30rem;
    }

    .intro-contact-contain svg {
        left: 9%;
        top: 52%;
    }

    .intro-contact-contain p {
        max-width: 30rem;
    }

    .intro-contact-contain img {
        padding-left: 10rem;
        margin-left: 7rem;
        padding-bottom: 0;
    }

    .contact-us-contain {
        padding: 8rem;
    }

    .contact-form {
        padding: 0rem 10rem 0rem 10rem;
    }

    .contact-form label {
        font-size: 1.3rem;
        padding: 2rem;
    }

    .location-plantswap-contain {
        padding: 8rem;
    }

}


@media (min-width: 80rem) {

    nav img {
        margin-left: 13rem;
    }

    h1 {
        font-size: 5rem;
        line-height: 5rem;
    }

    h2 {
        font-size: 5rem;
        line-height: 5rem;
    }

    h3 {
        font-size: 4rem;
        line-height: 4rem;
    }

    h4 {
        font-size: 1.8rem;
    }


    h4 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    p {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    /* HOME PAGE desktop*/
    .intro-contain {
        padding: 5rem 13rem 15rem 13rem;
        background-image: url("/assets/bg-homepage-desktop.png");
    }

    .intro-contain h1 {
        max-width: 5rem;
    }

    .intro-contain h1 {
        max-width: 5rem;
    }

    .intro-contain svg {
        left: 12%;
        top: 48%;
    }

    .about-contain {
        padding: 5rem 15rem 8rem 15rem;
    }

    .about-contain img {
        padding: 5rem 15rem 8rem 15rem;
    }

    .about-contain img {
        padding: 0rem 13rem 0rem 13rem;
    }

    /* CONTACT PAGE desktop */
    .intro-contact-contain {
        position: relative;
        padding: 5rem 13rem 25rem 13rem;
    }

    .intro-contact-contain h2 {
        max-width: 30rem;
    }

    .intro-contact-contain h2 {
        max-width: 30rem;
    }

    .intro-contact-contain svg {
        left: 12%;
        top: 41%;
    }

    .intro-contact-contain img {
        position: absolute;
        bottom: 0;
        right: 10%;
        width: 50%;
    }

    .contact-us-contain {
        padding: 5rem 15rem 8rem 15rem;
    }

    .contact-form {
        padding: 0rem 15rem 0rem 15rem;
    }

    .contact-us-contain {
        padding: 5rem 15rem 8rem 15rem;
    }

    .contact-form {
        padding: 0rem 15rem 0rem 15rem;
    }

    .contact-form input {
        font-size: 1.1rem;
        padding: 0.7rem;
    }

    .location-plantswap-contain {
        padding: 5rem 15rem 10rem 15rem;
    }

    .google-location-iframe {
        width: 60%;
    }
}

/* -------------------------- FOOTER --------------------------  */

#footer {
    width: 100%;
    height: 100px;
    background-color: var(--primary);
}

h8 {
    font-size: 0.8rem;
    color: white;
}

.flex-wrapper-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 1.2rem;
}

.flex-container-footer p {
    color: white;
}

.flex-container-footer {
    display: flex;
    flex-direction: row;
}

/*----------------------- Event page Demi ------------------*/
.event-container{
    display: none;
}

.workshop-header{
    position: relative;
    text-align: center;
  }
  .event-header{
    position: relative;
    text-align: center;
  }
  
    .slider {
      width: 100%;
      text-align: center;
      overflow: hidden;
      margin-top: 5rem;
    }
    .slides {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      gap: 8rem;
      background-color: white;
    }
    .slides::-webkit-scrollbar {
      width: 10px;
      height: 10px;
  
    }
    .slides::-webkit-scrollbar-thumb {
      background: var(--secondary);
      border-radius: 10px;
    }
    .slides::-webkit-scrollbar-track {
      background: transparent;
    }
    .slides > div {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 300px;
      height: 300px;
      margin-right: 50px;
      border-radius: 10px;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      position: relative;
      display: flex;
    }
    .slider > a {
      display: inline-flex;
      width: 1.5rem;
      height: 1.5rem;
      text-decoration: none;
      justify-content: center;
      margin-top: 1rem;
      position: relative;
      color: var(--p-color);
    }
    

  
    .event-img{
        width: 100%;
          height: 100%;
          border-radius: 10px;
      }
    .event-info{
        margin-left: 1rem;
    }
    .event-title{
        text-align: center;
    }

    
  
/* media query */
@media (min-width:65rem){
    .card {
        position: absolute;
        width: 100%;
        height: 100%;
       margin: auto;
        display: flex;
        transition: transform .4s ease;
        cursor: pointer;
        padding: 5rem;
      
      }
      
      .event-container {
        width: 100%;
        max-width: 800px;
        max-height: 800px;
        height: 100%;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    
      }
      
      .cards {
        position: relative;
        width: 100%;
        height: 40rem;
        margin-bottom: 20px;
        left: 1rem;
        
      }
      
      .card-img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    
    
      input + span{
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid var(--secondary);
        margin: .5rem;
        
      }
    
      #item-1, #item-2, #item-3 {
        position: absolute;
        left: -9999px;
      }
    
      #item-1:checked + span {
        background: var(--secondary);
      }
    
      #item-2:checked + span{
        background-color: var(--secondary);
      }
    
      #item-3:checked + span{
        background-color: var(--secondary);
      }
    
    .buttons{
      display: flex;
      position: relative;
      left: 50%;
      transform: translate(-5%,-50%);
      top: 40rem;
    }
    
     /* wat  betekent ~? */
      /* ~ is een sibling selector, alle elementen op dezelfde hoogte zijn siblings*/
      .buttons:has(#item-1:checked) ~ .cards #event-3, .buttons:has(#item-2:checked) ~ .cards #event-1, .buttons:has(#item-3:checked) ~ .cards #event-2 {
        transform: translatex(-40%) scale(.8);
        opacity: .4;
        z-index: 0;
      }
      
      .buttons:has(#item-1:checked) ~ .cards #event-2, .buttons:has(#item-2:checked) ~ .cards #event-3, .buttons:has(#item-3:checked) ~ .cards #event-1 {
        transform: translatex(40%) scale(.8);
        opacity: .4;
        z-index: 0;
      }
      
      .buttons:has(#item-1:checked) ~ .cards #event-1, .buttons:has(#item-2:checked) ~ .cards #event-2, .buttons:has(#item-3:checked)  ~ .cards #event-3 {
        transform: translatex(0) scale(1);
        opacity: 1;
        z-index: 1;
      }

      /* slider */
    .slider{
        display: none;
    }
    .slides{
        display: none;
    }

    /* evenementen collage */

    .event-page{
        display: flex;
        flex-wrap: wrap;
        gap: 4vw;
        padding: 0;
        margin: 0rem 15rem 5rem 15rem;
        width: 80vw;
        
      }
      
      .event-img{
        width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
      }
      
      .event {
        height: 30vw;
      }
      
      /* 4n = de 4 staat voor de hoeveelheid items en de n is een standaard variabel. Op deze manier ontstaat er een loop */
      .event:nth-child(4n + 1 ) {
        width: 40vw;
        height: 25vw;
      }
      
      .event:nth-child(4n + 2){
        width: 25vw;
        height: 20vw;
        align-self: flex-end;
      }
      
      .event:nth-child(4n + 3){
        width: 20vw;
        height: 20vw;
        margin-top: 2vw;
        margin-left: 15vw;
      }
      
      .event:nth-child(4n + 4){
        width: 40vw;
        height: 40vw;
      }

      .event-title{
        display: none;
      }

      .event-info{
        display: none;
      }

      .event:hover img{
        filter: blur(1px) brightness(0.5);
        transition: opacity 0.3s ease-in-out;
    }
}
